<label for="sidebar_button" class="sidebar-button">
  <div></div>
  <div></div>
  <div></div>
</label>
<input type="checkbox" id="sidebar_button" style="display: none" />
<label for="sidebar_button" class="sidebar-overlay"></label>

<div class="sidebar">
  <div class="profile" onclick="Navigation.toggleRotate(event)">
    <div class="front">
      <div class="profile-name">
        <a class="post-link" href="/">{{ site.Params.author_name }}</a>
      </div>
    </div>
    <div class="back">
      <div>
        {{ range site.Params.author_bio }}
        <div>{{ . }}</div>
        {{ end }}
      </div>
    </div>
  </div>

  {{ partial "nav.html" . }}
</div>
